{% extends 'clinicalsearch/base.html' %}

{% load staticfiles %}

{% block maincontent %}
<div id="header">
  <div class="container">
    <h1 class="text-center">About Our Team</h1>
    <h2 class="text-center subtitle">A clinical web application made by Daniel Chen, Richard Chen, and Adam Li at Hophacks Winter 2016. Technologies used include: 
    </h2>
    <p style="color: white; font-weight: bold;"> 
          - Django, SQlite and Python data mining for the backend
      <br>- Javascript, Ajax, HTML, CSS, Bootstrap and D3 for the frontend
    </p>
    <div class="row">
      <!--fontawesome icons-->
      <div class="col-md-12 text-center">
       <a class="fa fa-github fa-4x" href="https://github.com/adam2392/clinicaltrials"></a>
      </div>
    </div><!--/row-->
  </div>
</div>

{% endblock %}